api_foowd/app/generated-classes/Base
api_foowd/app/generated-classes/Map
api_foowd/app/generated-classes/Offer.php
api_foowd/app/generated-classes/OfferQuery.php
api_foowd/app/generated-conf
api_foowd/app/generated-sql
api_foowd/app/composer.lock
api_foowd/app/generated-classes
api_foowd/app/vendor/


# linee aggiunte da Simone Scardoni
# ignoro tutte le directory dentro a /data/
#api_foowd/app/data/**/
api_foowd/app/data/generated-*/
mod_elgg/foowd_*/log/
mod_elgg/sftp-config.json
api_foowd/log/*.log
api_foowd/sftp-config.json
*composer.lock
*/foowd_utility/vendor/
**/foowd_utility/tags.json
*/foowd_utenti/vendor/
*/foowd_utility/**/backup/
*/foowd_utility/bower_components
*/foowd_utility/js/utility.settings.amd.js
.Trash*

# linee aggiunte da Marco Predari
# io uso webstorm e aggiungo la cartella del progetto che crea il programma
html_theme_template/.idea/
.idea/
html_theme_template/vendor/
mod_elgg/foowd_theme/vendor/
mod_elgg/foowd_theme/composer.phar
mod_elgg/foowd_theme/composer.phar
mod_elgg/foowd_utility/composer.phar
mod_elgg/foowd_utility/composer.phar
mod_elgg/foowd_theme/node_modules
