api_foowd/app/generated-classes/Base
api_foowd/app/generated-classes/Map
api_foowd/app/generated-classes/Offer.php
api_foowd/app/generated-classes/OfferQuery.php
api_foowd/app/generated-conf
api_foowd/app/generated-sql
api_foowd/app/composer.lock
api_foowd/app/generated-classes
api_foowd/app/vendor/


# linee aggiunte da Simone Scardoni
# ignoro tutte le directory dentro a /data/
#api_foowd/app/data/**/
api_foowd/app/data/generated-*/
mod_elgg/foowd_*/log/
*composer.lock
vendor/

# linee aggiunte da Marco Predari
# io uso webstorm e aggiungo la cartella del progetto che crea il programma
html_theme_template/.idea/
.idea/
html_theme_template/vendor/
mod_elgg/foowd_theme/vendor/
mod_elgg/foowd_theme/composer.phar
mod_elgg/foowd_theme/composer.phar
