@import "icomoon/style.css";
.elgg-menu-item-register a,
.elgg-menu-item-forgotpassword a,
.elgg-menu-item-register a:link,
.elgg-menu-item-forgotpassword a:link,
.elgg-menu-item-register a:visited,
.elgg-menu-item-forgotpassword a:visited,
.elgg-menu-item-register a:active,
.elgg-menu-item-forgotpassword a:active {
  color: #c81063 !important;
}
.soc {
  margin: 0;
  margin-top: 3px;
  padding: 0;
  list-style: none;
  height: 2em;
}
.soc li {
  display: inline-block;
  *display: inline;
  zoom: 1;
}
.soc [class^="soc-"] {
  font-family: 'icomoon';
  text-decoration: none;
  margin: 10px;
}
.soc [class^="soc-"]:before {
  font-size: 2em;
}
.soc [class^="soc-"]:hover {
  color: #afdef3;
}
.soc .soc-google {
  color: #d34836;
}
.soc .soc-google:before {
  content: "\ea89";
}
.soc .soc-facebook {
  color: #3b5998;
}
.soc .soc-facebook:before {
  content: "\ea8d";
}
