@import "icomoon/style.css";
.foowd1-cl {
  color: #38302c;
}
.foowd1-bg {
  background-color: #38302c;
}
.foowd1d-bg {
  background-color: #221d1a;
}
.foowd2-cl {
  color: #e6dcbe;
}
.foowd2-bg {
  background-color: #e6dcbe;
}
.foowd2d-bg {
  background-color: #b69a46;
}
.foowd3-cl {
  color: #bed25a;
}
.foowd3-bg {
  background-color: #bed25a;
}
.foowd3d-bg {
  background-color: #7c8d27;
}
.foowd4-cl {
  color: #f7f4ee;
}
.foowd4-bg {
  background-color: #f7f4ee;
}
.foowd4d-bg {
  background-color: #b99f6a;
}
.foowd5-cl {
  color: #85385a;
}
.foowd5-bg {
  background-color: #85385a;
}
.foowd5d-bg {
  background-color: #502136;
}
.elgg-menu-item-register a,
.elgg-menu-item-forgotpassword a,
.elgg-menu-item-register a:link,
.elgg-menu-item-forgotpassword a:link,
.elgg-menu-item-register a:visited,
.elgg-menu-item-forgotpassword a:visited,
.elgg-menu-item-register a:active,
.elgg-menu-item-forgotpassword a:active {
  color: #38302c !important;
}
.soc {
  margin: 0;
  margin-top: 3px;
  padding: 0;
  list-style: none;
  height: 2em;
}
.soc li {
  display: inline-block;
  *display: inline;
  zoom: 1;
}
.soc [class^="soc-"] {
  font-family: 'icomoon';
  text-decoration: none;
  margin: 10px;
}
.soc [class^="soc-"]:before {
  font-size: 2em;
}
.soc [class^="soc-"]:hover {
  color: #afdef3;
}
.soc .soc-google {
  color: #d34836;
}
.soc .soc-google:before {
  content: "\ea89";
}
.soc .soc-facebook {
  color: #3b5998;
}
.soc .soc-facebook:before {
  content: "\ea8d";
}
