// @import '../../foowd_theme/lib/css/styl/variablesBackEnd.styl'

.circular
	width: 100px;
	border-radius: 50px;
	height: 100px;
	overflow: hidden;
	box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	margin: auto;


.foowd-profile-style
	padding 10px
	display inline-block
	margin auto
	text-align center

	.profile-admin-menu-wrapper li a
		background-color foowd1

.foowd-profile-style li
	// display: inline-block
	margin-top 10px

.elgg-head
	border 1px solid foowd5