
.foowd-page-purchase
	
	table
		
		border-collapse: separate
		border-spacing: 0 0.5em // spazio tra le righe
		
		// position: relative // per posizionamento surrogato di ::after impostato in admin-purchase.js
		
		thead
			th
				font-weight: bold
				
		tbody
			tr
				background-color #F3F5EB
				td
					padding: 5px
					padding-left: 15px
						
					&:last-child
						vertical-align middle
				