.foowd1-cl {
  color: #38302c;
}
.foowd1-bg {
  background-color: #38302c;
}
.foowd1d-bg {
  background-color: #221d1a;
}
.foowd2-cl {
  color: #e6dcbe;
}
.foowd2-bg {
  background-color: #e6dcbe;
}
.foowd2d-bg {
  background-color: #b69a46;
}
.foowd3-cl {
  color: #bed25a;
}
.foowd3-bg {
  background-color: #bed25a;
}
.foowd3d-bg {
  background-color: #7c8d27;
}
.foowd4-cl {
  color: #f7f4ee;
}
.foowd4-bg {
  background-color: #f7f4ee;
}
.foowd4d-bg {
  background-color: #b99f6a;
}
.foowd5-cl {
  color: #85385a;
}
.foowd5-bg {
  background-color: #85385a;
}
.foowd5d-bg {
  background-color: #502136;
}
.foowd-page-gallery #gallery-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.foowd-page-gallery #gallery-container .single {
  display: inline-block;
  position: relative;
  margin: 10px;
}
.foowd-page-gallery #gallery-container .single img {
  max-height: 135px;
  border: 1px solid #38302c;
}
.foowd-page-gallery #gallery-container .single a {
  display: none;
  position: absolute;
  z-index: 1;
}
.foowd-page-gallery #gallery-container .single .delete {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 50%;
}
.foowd-page-gallery #gallery-container .single .change {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 50%;
}
.foowd-page-gallery #gallery-container .single .change,
.foowd-page-gallery #gallery-container .single .delete {
  border: 1px solid #38302c;
  text-align: center;
}
.foowd-page-gallery .file-box-hook {
  max-width: 400px;
  margin-top: 20px;
}
