
.foowd-page-suggestedTags
	
	table
		
		border-collapse: separate
		border-spacing: 0 0.5em // spazio tra le righe
		// margin: 10px 0 40px 0
		margin: auto
		
		td, th
			min-width: 100px;
			
			&:not([data-first])
				text-align: center
		
		thead
			th
				font-weight: bold
		
		tbody
			tr
				background-color foowdl[2]
				
				td
					padding: 5px
					padding-left: 15px
					
					&:first-child
						vertical-align middle
					
					&:last-child
						text-align: center
	
	a
		font-weight: bold
		color: hue(foowd5, 100%)
	
	.elgg-button, label, div
		
		display: block
		margin: 10 px
		padding: 5px
		
	label
		border-bottom: 1px solid foowd5
		

	.action 
		background-color: lighten(foowdl[2], 80%);

	.remember 
		font-weight: bold
		font-style: italic
		background-color foowdl[3]
		
					