body {
  font-family: AkkuratRegular;
}
h2,
h3 {
  color: #000;
}
.elgg-system-messages {
  z-index: 10000;
  font-size: 12px;
}
.elgg-system-messages li[class*="elgg-state-"] {
  padding: 20px;
}
.elgg-system-messages li.elgg-state-success {
  color: #008000;
  background-color: #cfffd8;
}
.elgg-system-messages li.elgg-state-error {
  color: #f00;
  background-color: #fae6ef;
}
.foowd-back-strong {
  background-color: #c81063;
}
.foowd-back-soft {
  background-color: #fae6ef;
}
.elgg-page-header {
  background-color: #fae6ef;
  background-image: none;
}
.elgg-page-header > .elgg-inner {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.foowd-header {
  text-decoration: none;
  color: #000;
  font-family: AkkuratBold;
  font-size: 24pt;
  line-height: 24pt;
  letter-spacing: -1.5pt;
}
.elgg-page-topbar {
  background-image: none;
  background-color: #c81063;
  border-bottom: 0;
}
.elgg-page-body,
.foowd-elements-footer {
  padding: 0;
  padding-top: 20px;
  width: 100%;
  min-width: 400px;
  margin: 0;
  margin-bottom: 40px;
}
.elgg-page-footer {
  z-index: -17;
}
.elgg-inner {
  margin: 0;
  padding: 0;
}
.elgg-inner .elgg-main {
  max-width: 60%;
  margin: auto;
}
.elgg-layout-one-sidebar {
  background: none;
}
.foowd-elements-footer {
  margin-top: 5px;
}
.foowd-elements-footer .foowd-footer {
  text-align: center;
  margin: auto;
  border-collapse: collapse;
}
.foowd-elements-footer .foowd-footer td {
  border-left: 1px solid #000;
  border-right: 1px solid #000;
  padding: 5px;
  padding-top: 0;
  padding-bottom: 0;
}
.foowd-elements-footer .foowd-footer td:first-child {
  border-left: none;
}
.foowd-elements-footer .foowd-footer td:last-child {
  border-right: none;
}
a,
a:link,
a:visited,
a:active {
  color: #c81063;
}
a.elgg-button,
a:link.elgg-button,
a:visited.elgg-button,
a:active.elgg-button {
  color: #fff;
}
a.elgg-button:hover,
a:link.elgg-button:hover,
a:visited.elgg-button:hover,
a:active.elgg-button:hover {
  color: #c81063;
  background-color: #fae6ef;
}
.elgg-sidebar {
  background-color: #86385b;
}
.elgg-sidebar a.elgg-menu-content,
.elgg-sidebar a:link.elgg-menu-content {
  color: #c81063;
}
.elgg-sidebar a:hover {
  background-color: #fae6ef;
}
.elgg-sidebar li.elgg-state-selected > a {
  background-color: #cf8bcd;
}
.elgg-button,
.elgg-button-submit {
  -webkit-border-radius: 0px;
  border-radius: 0px;
  background: none;
  background-color: #c81063;
  border: none;
  text-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  margin-right: 10px;
  color: #fff;
}
.elgg-button:hover,
.elgg-button-submit:hover,
.elgg-button:focus,
.elgg-button-submit:focus {
  outline: none !important;
  background: none;
  background-color: #fae6ef;
  border: 0px;
  color: #c81063;
  text-shadow: none;
  -webkit-box-shadow: 0 0 3px #c81063;
  box-shadow: 0 0 3px #c81063;
}
.elgg-module-info > .elgg-head {
  padding: 5px 5px 2px 0px;
  margin-top: 20px;
  -webkit-border-radius: 0;
  border-radius: 0;
  background: none;
}
.elgg-module-info > .elgg-head h3 {
  border-color: #85385a;
  padding-bottom: 5px;
}
.elgg-module-info .elgg-body {
  padding-left: 10px;
}
input[type="text"],
input[type="email"],
input[type="password"],
input[type="url"],
input[type="file"],
textarea {
  -webkit-border-radius: 0;
  border-radius: 0;
}
input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
input[type="url"]:focus,
input[type="file"]:focus,
textarea:focus {
  background-color: #fae6ef;
  border-color: #c81063;
}
.ui-datepicker th {
  color: #c81063;
}
.foowd-page-add,
.foowd-page-single {
  width: 500px;
  margin: auto;
}
.foowd-page-add .chosen-container-multi,
.foowd-page-single .chosen-container-multi {
  width: 150px;
}
.foowd-page-add input[name="Quota"],
.foowd-page-single input[name="Quota"] {
  width: 90px;
}
.foowd-page-add input[name="Price"],
.foowd-page-single input[name="Price"] {
  width: 120px;
}
.foowd-page-add input[name="Minqt"],
.foowd-page-single input[name="Minqt"],
.foowd-page-add input[name="Maxqt"],
.foowd-page-single input[name="Maxqt"] {
  width: 150px;
}
.foowd-page-add input[name="UnitExtra"],
.foowd-page-single input[name="UnitExtra"] {
  width: 265px;
}
form.elgg-search {
  border: 1px solid #c81063;
  height: 20px;
}
.elgg-search-header {
  position: relative;
}
.search-advanced-type-selection > li > a {
  background-color: #c81063;
  height: 19px;
}
.elgg-search input[type="text"].search-input {
  border: 0px;
  width: 100%;
  background-position: right -917px;
  background-color: #fff;
}
.elgg-search input[type="text"]:focus,
.elgg-search input[type="text"]:active {
  color: #c81063;
  border: 1px solid #c81063;
}
.search-advanced-type-selection-dropdown {
  border: 0px;
}
.search-advanced-type-selection-dropdown a:hover {
  background-color: #c81063;
}
