// <path>\views\default\css> stylus -p .\stylus\main.styl > .\elements\layout_ext.php
// <path>\views\default\css> stylus -u nib .\stylus\main.styl --out ./ --watch

// NB: su linux oltre a nodejs bisogna installare nodejs-legacy

@import 'nib'
@import '../../lib/css/styl/variables.styl'

foowdTopbar = rgb(200, 16, 99)
foowdButtonBackground = foowdTopbar
foowdTextBackground = rgb(245, 245, 245)



body
	font-family: AkkuratRegular
	
h2, h3
	color: #000000
	

.elgg-system-messages
	
	z-index 10000
	font-size 12px
	
	li[class*="elgg-state-"]
		padding: 20px;
	
	li.elgg-state-success
		color: green
		background-color: #CFFFD8;
		
	li.elgg-state-error
		color : red
		background-color: #fae6ef;

// .foowd-alert
//     font-size : 10pt
//     font-family : AkkuratRegular
//     padding: 10px;
//     display: none;
//     position: fixed;
//     top: 70px;
//     right: 20px;
//     z-index: 10000;
//     width: 200px;
//     height: 70px;
//     border-radius : 10px
    
.foowd-back-strong
	background-color: foowdTopbar

.foowd-back-soft
	background-color: foowdPink



.elgg-page-header
	background-color: foowdPink;
	background-image: none;

	// centro la scritta foowd_
	& > .elgg-inner 
		display: flex;
		align-items: center;

.foowd-header
	text-decoration: none;
	color: #000;
	font-family: AkkuratBold;
	font-size: 24pt;
	line-height: 24pt;
	letter-spacing: -1.5pt;

.elgg-page-topbar
	background-image: none;
	background-color: foowdTopbar;
	border-bottom: 0;

	
.elgg-page-body, 
.foowd-elements-footer
	padding: 0
	padding-top: 20 px
	width: 100%
	min-width: 400px
	// margin: auto
	margin: 0
	margin-bottom: 40px

.elgg-inner
	margin: 0
	padding: 0
	
	.elgg-main
		max-width: 60%
		margin: auto



// pagine con sidebar:
.elgg-layout-one-sidebar
	background: none // rimuovo il background grigio della sidebar, che in realta' e' un'immagine di sfondo


.foowd-elements-footer
	margin-top: 5px
	
	.foowd-footer
		text-align: center
		margin: auto
		border-collapse: collapse // niente spazi tra le celle
		
		td
			border-left: 1px solid black;
			border-right: 1px solid black;
			padding: 5px
			padding-top: 0
			padding-bottom: 0
			&:first-child
				border-left: none
			&:last-child
				border-right: none


a, a:link ,a:visited, a:active
	color: foowdTopbar
	
	&.elgg-button//, &.elgg-menu-content
		// background-color purple
		color: #ffffff
		
		&:hover
			color foowdTopbar
			background-color foowdPink
	
		// &:active, &:visited
		// 	color: foowdPink

.elgg-sidebar
	
	background-color #86385B

	a, a:link
		
		&.elgg-menu-content
			color foowdTopbar
	a:hover
		background-color foowdPink
		
	li.elgg-state-selected > a
		background-color #CF8BCD


.elgg-button, .elgg-button-submit
	border-radius: 0px;
	background: none;
	background-color: foowdButtonBackground
	border none
	text-shadow: none
	box-shadow: none
	margin-right: 10px
	color: #ffffff
	
	&:hover, &:focus
		outline none !important
		background: none;
		background-color: foowdPink
		border 0px
		color foowdButtonBackground
		text-shadow: none
		box-shadow: 0 0 3px foowdButtonBackground

.elgg-module-info 
	& > .elgg-head
		padding 5px 5px 2px 0px
		margin-top 20px
		border-radius 0
		background none //foowdKeen
		
		h3
			border-color foowdDark
			padding-bottom 5px
			
	.elgg-body
		padding-left 10px
	
	


input[type="text"],
input[type="email"],
input[type="password"],
input[type="url"],
input[type="file"],
textarea
	border-radius: 0
	&:focus
		background-color foowdPink
		border-color: foowdTopbar
		

// jQuery ui
.ui-datepicker 
	th
		color foowdTopbar		


// Pagina Add

.foowd-page-add,
.foowd-page-single
	width: 500px
	margin: auto
	
	.chosen-container-multi
		width: 150px
		
	input[name="Quota"]
		width: 90px
		
	input[name="Price"]
		width: 120px
		
	input[name="Minqt"],
	input[name="Maxqt"]
		width: 150px
		
	
	input[name="UnitExtra"]
		width: 265px

		

// sidebar

// plugin search-advanced
// searchHeight = 19px
form.elgg-search
	// border 1px solid foowdTopbar
	// height (searchHeight + 1px)

.elgg-search-header
	position: relative
	
.search-advanced-type-selection > li > a
	background-color foowdTopbar
	height: searchHeight
	

.elgg-sidebar
	.foowd-search-title
		color white
		margin-bottom 13px
		font-size: 1.1em
		
	.foowd-little-search-title
		color white
		font-size 0.9em
		padding-left 10px
	
.elgg-search 
	
	input[type="text"]
		
		&.search-input
			border 0px
			width: 100%
			background-position 3px -917px // e' uno sprite
			background-color white

		&:focus, &:active
			color foowdTopbar
			// border 1px solid foowdTopbar
			border 0px
			
	
	
.search-advanced-type-selection-dropdown
	border 0px
	
	a	
		&:hover
			background-color foowdTopbar
	
	

////////////////////// Compatibilita' frontend
.elgg-page-footer-frontend
	z-index: -17 // introdotto perché altrimenti il footer va a sormontare alcune parti del frontEnd, rendendo incliccabili i pulsanti (il forntEnd in genere svolge posizionamenti fixed...)