
@import 'jeet'
@require 'variables'
/*Contenuti pagina di dettaglio*/

#product-detail-main
  margin-top: contentMargin;
  padding : 0 20px 0 20px
  +below(bp)
    margin-top : contentMargin * 2;

//ATTENZIONE : da qui in poi visualizza la pagina del template productDetail

.detail-menu-section
  column(1/2 1/2, cycle: 2)
  span(1/2)
  height: contentMargin;
  +below(bp)
    stack()

#detail-menu
  margin-bottom: 20px;

.detail-progress-bar
    position: absolute;
    left:0px;
    height:46px;
    width:50%
    z-index: -1
    .progress
      position:absolute;
      z-index: -1
      height:100%
      background-image : url('../../img/stripes.png');

.detail-progress-bar.preview-bar
  z-index: -2
  .progress
      background-image:none
      z-index: -2

.price-detail
    column(1/2 1/2)
    span(1/2)
    z-index:100
    
.number-block
  padding:0;
  margin : 5px 
  font-size:18px;
  font-weight:bold;

.number-block > li
  padding:0px;
  margin:0px;

.number-description
  font-size:12px;
  font-weight:normal;
  font-family: AkkuratRegular;


#min-order-price
  li
    text-align:right;

#menu-close
  text-align: right;
  padding-top: 5px;
  span
    font-size:36pt;

.product-menu-section
  column(1/2)
  span(1/2)
  +below(bp)
    stack()

.menu-section
  column(1/2)
  

#section1
  height: 100px;

#product-name
  font-family: AkkuratBold;
  font-size: 16pt;

#preference-action
  text-align: right;

.action-icons
  position:relative;
  float:right;

.action-icons > li
  display: inline-flex;
  vertical-align:middle;
  border-radius:50%;
  
.action-icons > li > i
  font-size: 36pt
  color : black
  display : inline-flex

.action-heart
  background: rgb(250,230,239);

.action-minus
  background: rgb(235,235,235);
  
.action-buy
  background: rgb(12,91,13)

.action-buy i
  color: white !important

#section1
  padding: 20px 20px 0 0;
#section2
  height:160px;
  padding: 0 20px 0 0;

#section2 > div
  column(1/2)

.item-container
  width: 100%

.commercial-menu-item
  .item-container
    padding : 15px 0 15px 0
    border-top: 0.1em solid rgb(120,120,120);

.commercial-menu-item
  .item-container > span
    display : inline-flex
    color : black;
    vertical-align:middle;

.commercial-menu-item
  .item-container
    .item-icon
      font-size : 18pt

.commercial-menu-item
  .item-container
    .item-data
      float : right
      font-family : AkkuratBold
      font-size : 12pt
      font-weight : bold
      letter-spacing : -1pt

#product-picture
  padding:0px;







