
@import 'jeet'
@require 'variables'
@require 'mixins'

.foowd-navbar
  cf()
  height: contentMargin;
  width : 100%
  position : fixed
  top : 0
  z-index: 9000;
  vendor(box-shadow, 0 0 20px 0 #f0f0f0);

.navbar-section
  column(1/2, cycle: 2)
  span(1/2)
  height:100%;
  +below(bp)
    stack()
    //background-color:red;

.logo
  background-color: foowdPink;
  
.logo-green
  background-color: foowdGreen;
  
.foowd-brand
  column(1/2)  
  align(vertical)
  margin-left:20px;
  text-decoration : none;
  color: black;
  font-family AkkuratBold;
  font-size: 24pt;
  line-height : 24pt;
  letter-spacing: -1.5pt;
  span
    cursor: pointer;
  input
    width:40%;
    background-color: rgb(250,230,239);
    outline:none;
    border: none;
    
#user-menu-section
  background-color: rgb(255,255,255);


#user-menu
  position:relative;
  right: 0;
  margin: 0 20px 0 0
  display: flex
  font-size:24pt;
  align(vertical)
  span
    margin: 0 0 0 10px;
    display: inline-flex;
    flex-basis : auto
    justify-content: flex-end
  
.preferences-link
  font-size : 20pt;
  line-height: 16pt;
  cursor:pointer
.profile-link
  font-size : 20pt;
  line-height: 16pt;
  cursor:pointer
.menu-link
  font-size : 26pt;
  line-height: 16pt;
  cursor:pointer

.fw-menu-icon
  cursor: pointer;
  color:black
    
#price-section
  height: 100%;
  background:trasparent;
/* REVERSE HEADER (per l'overlay nero)*/

.reverse
  vendor(box-shadow, 0 0 0 0 #000000 !important)
  color: white !important
  background-color : black !important
  










