/////////////////////////////////////////////////////////////
// questo file contiene delle configurazioni genearli
// e classi che riutilizzero' nei futuri script
//
// la impiego per non rendere troppo pomposa 'variables.styl'
/////////////////////////////////////////////////////////////

@require 'variables'


// versione piu scura (ad esempio per testi su sfondo chiaro)
// la "d" sta per darken
foowd2d = darken(foowd2, 40%)

// foowd1 = yellow