
/*
	Valori utili e per i fogli di stile foowd
*/

/* 1. Margins --------------------------- */

contentMargin = 60px //margine tra il contenuto e la barra di navigazione
stdMargin = 20px 	//margine standard da bordo schermo
containerMargin = 20px;
productSize = 318px
productMargin = 10px

/* 2. Colors ---------------------------- */
foowdBar = rgb(230,220,190)
foowdMinus = rgb(247,244,238)
foowdPlus = rgb(190,210,90);
foowdPlusG = rgb(56,48,44);


// Simone Scardoni: rinomino i colori per coerenza con nomenclatura dei miei css
// colore nero
foowd1 = rgb(56,48,44)
// color cappuccino
foowd2 = rgb(230,220,190)
// colore verde
foowd3 = rgb(190,210,90)
// sfondo semibianco
foowd4 = rgb(247,244,238)
// violetto-porpora che uso in alcuni stili di backend
foowd5 = hsl(333, 41%, 37%)

/* 3. Responsive ------------------------ */

bp = 900px;