
/*
	Valori utili e per i fogli di stile foowd
*/

/* 1. Margins --------------------------- */

contentMargin = 60px //margine tra il contenuto e la barra di navigazione
stdMargin = 20px 	//margine standard da bordo schermo
containerMargin = 20px;
productSize = 318px
productMargin = 10px

/* 2. Colors ---------------------------- */
foowdPink = rgb(250,230,239)
foowdTopbar = rgb(200, 16, 99)

/* 3. Responsive ------------------------ */

bp = 900px;