
/*
	Valori utili e per i fogli di stile foowd
*/

/* 1. Margins --------------------------- */

contentMargin = 60px //margine tra il contenuto e la barra di navigazione
stdMargin = 20px 	//margine standard da bordo schermo
containerMargin = 20px;
productSize = 318px
productMargin = 10px

/* 2. Colors ---------------------------- */
foowdBar = rgb(230,220,190)
foowdMinus = rgb(247,244,238)
foowdPlus = rgb(190,210,90);
foowdPlusG = rgb(56,48,44);

foowdPink = rgb(250,230,239)
foowdTopbar = rgb(200, 16, 99)
foowdTopbarGreen = rgb(102, 255, 102)
foowdDark = hsl(333, 41%, 37%)
foowdKeen = hsl(302, 41%, 68%)

/* 3. Responsive ------------------------ */

bp = 900px;