
/*
 * About Wall Page Style
 */


@import 'jeet'
@require 'variables'
@require 'mixins'

// 1. Wall alignment -------------------------------------------------

// .foowd-grid-container
// 	width: 100%;
// 	min-width: 100%;
// 	margin: auto;

.grid
	margin: contentMargin + containerMargin auto
	list-style: none;
	padding: 0 stdMargin - productMargin 0 stdMargin - productMargin;
	// align(horizontal)
	// +below(bp)
	// 	margin : contentMargin * 2 + containerMargin auto

	// queste due impostazioni, assieme al margin auto sx mi servono per sovrastare il codice generato probabilmente da jeet...
	transform: translateX(0);
	left: 0%;

	// media queries bubbling
	// attenzione all'ordine
	// col2 = 2 * productSize 
	// @media screen and (max-width: 700px)
	// 	max-width: 100%;
	//     background-color: green;
	// @media screen and (max-width: col2)
	// 	max-width: 100%;
	//     background-color: red;

.grid li
	float: left;
	width: productSize
	margin: productMargin productMargin stdMargin productMargin !important;
	opacity: 0;
	
.no-csstransforms .grid{}
.csstransforms  .grid{}

// con questo forzo l'allineamento centrato anche per IE e tablet
// .foowd-grid-container .grid{
// 	transform: translateX(0);
// 	left: 0%;
// 	// margin: auto;
// }

.grid li.shown,
.no-js .grid li,
.no-cssanimations .grid li {
	opacity: 1;
}

//* Effect 1: opacity */
.grid.effect-1 li.animate {
	vendor(animation, fadeIn 0.65s ease forwards)
}

@-webkit-keyframes fadeIn {
	0% { }
	100% { opacity: 1; }
}

@keyframes fadeIn {
	0% { }
	100% { opacity: 1; }
}

// 2. Product Post ---------------------------------

postZindexBase = 50


.post-container
	display: table
	position: relative
	cursor: pointer

.product-post-image-thumbnail
	display: table
	z-index: postZindexBase * -1
	img
		span(1)
		position : relative
		z-index: -1
.tint
	position : relative
	width : 100%
	margin : 0
	padding :0
	display: table
	background: rgba(0,0,0,0.2);
	
.heart-overlay
	margin : 0 
	padding: 0
	position: absolute
	z-index : postZindexBase * 3
	top: 0;
	left:0
	text-align: center
	font-size: 72pt;
	background: none
	color: white;
	opacity : 0;
	vendor(transition, opacity .15s ease)
    
.product-post-main-frame
	display: block;
	font-family: AkkuratBold;
	position: relative;

.product-post-header
	top: 0px;
	width: 100%
	position: absolute;
	z-index: postZindexBase * 3
	
.product-post-name
	column(1/2)
	padding: 10px 0 0 10px;
	color: white;
	font-size: 12pt;
	line-height: 14pt;
	letter-spacing : -0.5pt
	z-index:100;

.product-post-unit-price
	font-size:12pt;
	line-height:14pt;
	letter-spacing : -0.5pt

.product-post-progress-price
	padding: 5px 10px 0 0; 
	color: white;
	font-size : 18pt;
	line-height: 14pt;
	letter-spacing: -1.5pt;
	text-align : right;

.mini-progress-bar
	// position: absolute;
	width: 40px;
	// right: 8px;
	height: 20px;
	// margin-top: -28px

.mini-progress
	background-image : url('../../img/barra-bianca.png');
	background-repeat : no-repeat;
	background-position: left top
	height:100%
	span(1)
	

.product-post-footer
	position: absolute;
	bottom: 0;
	color: white;
	width: 100%;
	

	.product-post-company, .mini-progress-bar
		display: inline-block;
		vertical-align: middle;
	
	.product-post-company
		width: calc(100% - 55px); // tutto tranne la larghezza della progressbar, considerando anche un po di margine dx
		span
			display: inline-block;	
			vertical-align: middle;	
		
	.mini-progress-bar
		width: 40px;
	

.product-post-tags, .product-post-description 
	font-size: 10pt
	line-height: 17pt
	font-align: justify

.product-post-description
	display: none;


	


