@import 'jeet'
@require 'variables'

containerMargin = 20px;

edit()

#wall
	//position:relative
	margin-top: contentMargin + containerMargin
	margin-right: 10px;
	margin-left: 10px;

.grid
	span(1)
	list-style: none;
	padding: 0;

.grid li
	margin: 20px;
	display: block;
	float: left;
	padding: 7px;
	width: 20%;
	opacity: 0;

.grid li.shown,
.no-js .grid li,
.no-cssanimations .grid li {
	opacity: 1;
}

//* Effect 1: opacity */
.grid.effect-1 li.animate {
	-webkit-animation: fadeIn 0.65s ease forwards;
	animation: fadeIn 0.65s ease forwards;
}

@-webkit-keyframes fadeIn {
	0% { }
	100% { opacity: 1; }
}

@keyframes fadeIn {
	0% { }
	100% { opacity: 1; }
}

.product-post-image-thumbnail
	img
		-webkit-filter: contrast(85%);
		span(1)
		
.product-post-header
	top: 0px;
	column(1/4)
	.element
		column(1/3)

.product-post-price
	shift(1/3)
	text-align:right !important;
		
.product-post-name
	color: white;
	font-family: AkkuratBold
	font-size: 14pt;
	line-height: 16pt;
	z-index:100;
.product-post-price
	color: white;
	font-family: AkkuratBold;
	font-size : 24pt;
	line-height: 24pt;
	letter-spacing: -4pt;
	.apex
		margin-right: 15px;
		font-size:14pt;
		vertical-align: super;
	
	


