RewriteEngine On

# Some hosts may require you to use the `RewriteBase` directive.
# If you need to use the `RewriteBase` directive, it should be the
# absolute physical path to the directory that contains this htaccess file.
#
# RewriteBase /

RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^ index.php [QSA,L]


### controllo sull'origine:

# prima controllo gli allow, poi i deny e per tutti gli altri il default risulta essere deny from all
Order Deny,Allow
Deny from all
Allow from 5.196.228.146
#Require local
