# Crontab example.
#
# This file is an example of triggering Elgg cron events. It hits a URL to
# trigger the events. For testing, you can simulate the cronjob by loading the
# URL in a browser.
#
# See http://learn.elgg.org/en/stable/admin/cron.html for more information
#

# Location of your site (don't forget the trailing slash!)
ELGG='http://5.196.228.146/elgg-1.10.4/'

# Location of lwp-request
WGET='/usr/bin/wget'

# Make GET request and discard content
GET="$WGET -q --spider "

# The crontab
# Don't edit below this line unless you know what you are doing
* * * * * $GET ${ELGG}cron/minute/
*/5 * * * * $GET ${ELGG}cron/fiveminute/
15,30,45,59 * * * * $GET ${ELGG}cron/fifteenmin/
30,59 * * * * $GET ${ELGG}cron/halfhour/
@hourly $GET ${ELGG}cron/hourly/
@daily $GET ${ELGG}cron/daily/
@weekly $GET ${ELGG}cron/weekly/
@monthly $GET ${ELGG}cron/monthly/
@yearly $GET ${ELGG}cron/yearly/
# reboot is deprecated and probably doesn't work
@reboot $GET ${ELGG}cron/reboot/


# Quanto scritto sopra risulta in parte errato, ma ho deciso di tenerlo come confronto:
#
# In realta' ho letto che crontab non supporta le variabili come la shell, pertanto l'esempio di cui sopra
# risulta utile solo se si decide di associare uno script, cosa che attualmente non faro' per evitare di  continuare ad aggiungere step obbligatori che col lungo andare potrebbero creare confusione ed essere difficili da ricordare.

# Vero codice che ho aggiunto sulla VPS di sviluppo

* * * * * /usr/bin/wget -q --spider http://5.196.228.146/elgg-1.10.4/cron/minute/
*/5 * * * * /usr/bin/wget -q --spider http://5.196.228.146/elgg-1.10.4/cron/fiveminute/
15,30,45,59 * * * * /usr/bin/wget -q --spider http://5.196.228.146/elgg-1.10.4/cron/fifteenmin/
30,59 * * * * /usr/bin/wget -q --spider http://5.196.228.146/elgg-1.10.4/cron/halfhour/
@hourly /usr/bin/wget -q --spider http://5.196.228.146/elgg-1.10.4/cron/hourly/
@daily /usr/bin/wget -q --spider http://5.196.228.146/elgg-1.10.4/cron/daily/
@weekly /usr/bin/wget -q --spider http://5.196.228.146/elgg-1.10.4/cron/weekly/
@monthly /usr/bin/wget -q --spider http://5.196.228.146/elgg-1.10.4/cron/monthly/
@yearly /usr/bin/wget -q --spider http://5.196.228.146/elgg-1.10.4/cron/yearly/
# reboot is deprecated and probably doesn't work
@reboot /usr/bin/wget -q --spider http://5.196.228.146/elgg-1.10.4/cron/reboot/


# EXTRA
# se e' abilitato l'invio di email allora crontab invia una mail in caso di errore:
# Per mandarla a un indirizzo specifico impostare il parametro MAILTO all'inizio del file crontab
#
# se si vuole impedire l'invio di email, basta inserire:
# 		> /dev/null 2>&1 || true
# alla fine del comando che si vuole skyppare