{{!-- Codice comune a tutte le pagine --}}

<!-- Pezzo che deve essere comune a tutte le pagine -->

<div id="close-overlay" class="overlay overlay-hugeinc">
  <div class="reverse foowd-navbar">
  </div>
  <nav>
    <ul>
      <li><a target="_blank" href="http://www.tiny.cc/guida_foowd_1">Guida all'uso</a></li>
      <li><a target="foowd_site" href="http://www.foowd.it">Sito web</a></li>
      <li><a target="foowd_site" href="http://www.foowd.it/about.html">Su di noi</a></li>
      <li><a target="foowd_site" href="http://www.foowd.it/investors.html">Investitori</a></li>
      <li><a target="foowd_site" href="https://www.smore.com/pcm5x">Produttori</a></li>
      <li><a target="foowd_site" href="http://www.foowd.it/#contatti">Contatti</a></li>
    </ul>
  </nav>
</div>

<!-- ############################################### -->

<!-- Pezzo che deve essere presente se viene aggiuntao tolta un preferenza -->

<div class="foowd-alert" role="alert" id="foowd-success"></div>
<div class="foowd-alert" role="alert" id="foowd-error"></div>
