<div class="container-fluid" id="main">
    <div class = "row">
        <div class="col-lg-2">
            {{productDetails.Price}}<span class="apex">€</span>
            Prezzo Unità
        </div>
        <div class="col-lg-2">
            {{productDetails.Price }} * {{productDetails.Minqt}}<span class="apex">€</span>
            Ordine Minimo
        </div>
    </div>
    <div class = "row">
        <div class="col-lg-2">
            {{productDetails.Name}}
        </div>
        <div class="col-lg-2">
            followers
        </div>
        <div class="col-lg-2">
            share
        </div>
        <div class="col-lg-2">
            <img ng-src="http://lorempixel.com/120/160/food">
        </div>
    </div>
</div>
