<div class="col-md-3">
    <div class="panel panel-default">
        <div class="panel-heading">
            {{Name}}  {{Price}}
        </div>
        <div class="panel-thumbnail"">
            <img src="http://lorempixel.com/320/270/food" class="img-responsive">
            <div class="product-menu">
                
            </div>
        </div>
        <div class="panel-body">
            <p>
                {{Description}}
            </p>
        </div>
    </div>
</div>