<div class="foowd-navbar">
    <div class="navbar-section" id = "logo">
        <div id="foowd-brand">
         <span onClick="utils.goTo()">foowd_</span>
         <input type="text" id="searchText" onkeypress="WallController.searchProducts(event)">
        </div>
    </div>
    <div class = "navbar-section" id="user-menu-section">
        <div id = "user-menu">
            <span onClick="utils.goTo('board')" 
                  class="foowd-icons foowd-icon-heart-edge fw-menu-icon preferences-link">
            </span>
            <span onClick = "utils.goToUserProfile()"
                  class="foowd-icons foowd-icon-user fw-menu-icon profile-link">
            </span>
            <span id="menu" 
                  class="foowd-icons foowd-icon-menu fw-menu-icon menu-link">
            </span>
        </div>
    </div>
</div>