<div class="foowd-navbar">
    <div class="navbar-section" id="foowd-brand">
        <a class = "foowd-brand" onClick="utils.goTo()">foowd_</a>
    </div>
    <!-- <div class="navbar-section" id="search-section">
        <input type="text" class="form-control" id="searchText" size = "30">
    </div> -->
    <div class = "navbar-section" id="user-menu-section">
        <div id = "user-menu" onClick="utils.goTo('board')">
            <a id="heart">
                <i class="glyphicon glyphicon-heart fw-menu-icon">
                </i>
            </a>
            <a id="userButton"  onClick = "utils.goToUserProfile()">
                <i class="glyphicon glyphicon-user fw-menu-icon">
                </i>
            </a>
            <a id="menu">
                <i class="glyphicon glyphicon-th-large fw-menu-icon">
                </i>
            </a>
        </div>
    </div>
</div>