.foowd-Tag input  {
	margin: 0px 0px 21px 1px;
}

.foowd-Tag label {
	padding: 5px 13px 5px 6px;
	/*background-color: rgba(176,196,222, 0.8);*/
	background-color: rgba(70, 144, 214, 0.8);
	margin-left: 0px;
	margin-right: 20px;
}
