
@require '../../foowd_theme/lib/css/styl/variablesBackEnd.styl'

/******** add e update ******/

.elgg-form-foowd-offerte-update
	// nascondo l'immagine fino a quando non carico il crop.
	#image-container
		display: none
		
.elgg-form-foowd-offerte-add,
.elgg-form-foowd-offerte-update,
	

	label
		position: relative

		errorBackground = foowd5 //#B98686
		[class^=error-]
			position: absolute
			top: -4px
			// top: 0
			// left: 150px
			margin-left: 20px
			padding: 3px 7px
			background-color foowdl[5] //errorBackground
			color: white //red
			white-space: nowrap
			font-style: italic
			font-size: 0.8em
		
			&:before
				width: 0
				height: 0
				border-top: 9px solid transparent
				border-right: 21px solid errorBackground
				border-bottom: 0px solid transparent
				content: ''
				position: absolute
				left: -20px
				top 0px

	#quota-preview
		// margin: 10px
		padding: 5px
		height: 31px
		font-style: italic
		background-color: foowdl[2]
		color: foowd1
		border: 1px solid foowd2
		// width: 270px
		// display: inline-block
			
	.foowd-advise-pending
		background-color: foowd5
		padding: 3px

	.foowd-advise-newest
		background-color: foowd3
		padding: 3px
		
	.foowd-advise-modified
		&:before
			content: 'Campo Modificato'
			border-bottom 1px solid foowd5 //foowdd[3]
			color foowd5 //foowdd[3]
			width 100%
			position absolute
			text-align right
			font-style italic
			font-size 0.9em
			


.foowd-Tag 
	input  
		margin: 0px 0px 21px 1px

	label 
		padding: 5px 13px 5px 6px
		//background-color: rgba(176,196,222, 0.8)
		background-color: rgba(70, 144, 214, 0.8)
		margin-left: 0px
		margin-right: 20px




/* lightbox loader image in crop.js */
.foowd-lightbox 
	background-color: rgba(30, 20, 30, 0.8)
	background: rgba(30, 20, 30, 0.8)
	color: rgba(30, 20, 30, 0.8)

	position : fixed
	top : 0
	width : 100%
	height : 100%
	z-index : 5


.progress-container
	position: relative
	width: auto
	display : inline          /* faccio in modo che le dimensioni si adattino a quelle del content */
	text-align: center


.progress-value
	margin-left : 15px
	font-weight : bold
	color : #34BD34



/******** view offers/allSingle ********/

div.foowd-all-single-container > div
	background-color: steelblue
	/*display: inline;*/
	/*position: relative;*/
	/*display: flex;*/
	/*justify-content: space-between;*/

.foowd-all-data 
	/*position:absolute;*/
	padding: 5px
	/*float:right;*/


.foowd-title
	font-weight: bold
	margin-bottom: 5px
	color: foowd3
	font-size: 1.2em

// .foowd-offers-single
	// background-color: blue
// 	.elgg-button
// 		background-color: red


.foowd-description
	padding-left: 15px


.foowd-all-img img
	border: 1px solid #000000


table.foowd-all-single-container 
	width: 100%
	
	td
		padding: 5px

		&:first-child
			/*background-color: red;*/
			width: 100px
			padding: 0px

		&:nth-child(2)
			/*background-color: yellow;*/

		&:nth-child(3)
			/*background-color: green;*/
			width: 10em

		&:nth-child(4)
			/*background-color: green;*/
			width: 10em




.foowd-all-data
	font-size: 0.85em
	font-style: italic
	border-left: 1px solid silver

	.foowd-data
		margin-bottom: 10px



/******* crop styles ******/

#ratio
	
	max-width: 100px
	
	[data-ratio]
		cursor: pointer
		cursor: hand
		background-color: foowd2
		
		margin: 15px
		padding: 5px 
		display: flex
		justify-content: center
		align-items: center
		
		&:hover
			background-color: foowd3
		&:active
			background-color: foowd4
	
	[data-ratio="2:3"]
		width: 22px
		height: 33px
	[data-ratio="3:2"]
		width: 33px
		height:22px

/******* Form TextArea foowd *******/

table.foowd-editor-table
	width: 100%;
	margin: 1em 0 auto 0;
	padding: 4px 10px 3px 10px
	padding-top: 3px
	
	textarea, .div_textarea
		resize: none
		min-height 17 em
		width: 100%
	
	.div_textarea
		padding 10px
		background-color rgba(237, 235, 233, 0.48)
		
	td
		width: 50%

	[class^="foowd-editor"]
		font-size: 0.9em;

		&:first-child
			background-color: foowd1
			color: white
			text-align: center
		
		&:nth-child(2)
			// background-color: orange
			text-align right

