<div class="col-md-3">
    <div class="panel panel-default">
        <div class="panel-heading">
            {{name}}  {{price}}
        </div>
        <div class="panel-thumbnail">
            <img src="{{thumb}}" class="img-responsive">
            <div class="product-menu">
                <ul class="product-menu-options">
                    <li><a href=""><i class="glyphicon glyphicon-send"></i></a></li>
                    <li><a href=""><i class="glyphicon glyphicon-check"></i> </a></li>
                    <li><a href=""><i class="glyphicon glyphicon-heart"></i></a></li>
                </ul>
            </div>
        </div>
        <div class="panel-body">
            <p> 
                {{description}}
            </p>
        </div>
    </div>
</div>